.full-link::after {
    content: attr(href);
} 

.not-visible {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

label {
    display: inline-block;
    padding-left: 20px;
}

input[type="checkbox"] {
    margin-left: -20px;
    margin-top: 4px;
}
