.full-link::after {
    content: attr(href);
} 

.not-visible {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

label {
    display: inline-block;
    padding-left: 20px;
}

input[type="checkbox"] {
    margin-left: -20px;
    margin-top: 4px;
}

.col-sm {
    display: inline;
    float: right;
    width: 33%;
}

.col1 {
    display: block;
    float: left;
}

.col2 {
    display: block;
    float: right;
}


.full-div {
    text-align: center;
    }

.alert-success {
    width:fit-content;
}