{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

    <title>quiz app| {% block title %}{% endblock title %}</title>

    <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">

  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- highlight style for snippets in ckeditor -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  {% endblock stylesheets %}

  </head>

  <body class="">


    <div class="main-content" id="panel">

      {% block content %}{% endblock content %}

    </div>
    {% include "includes/scripts.html" %}

    <!-- Specific JS goes HERE  -->
  {% block javascripts %}

  {% endblock javascripts %}

  </body>
</html>



