{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="/static/js/question.js"></script>
{% endblock scripts %}

{% block title %}
    Single question boolean
{% endblock title %}

{% block content %}
<div class="col1">
    <div id="question" data-value={{ question.text }}>
        {{ question.text | safe }}
    </div>
    <div id="answer">
        <form id="question-form" action="" method="post">
            {% csrf_token %}
            <label>{% translate "True" %}
            <input type="radio" name="ans" value="T">
            </label>
            <label>{% translate "False" %}
            <input type="radio" name="ans" value="F">
            </label>
            <br>
            <button type="submit" id="question-submit">{% translate "Send" %}</button>
        </form>
        {% if question.is_author %}
            <p>Autor: {{ question.author }}</p>
        {% endif %}
    </div>
</div>
<div class="col2">
    <div id="timer">
        <div class="not-visible" id="time" data-value={{ time }}></div>
    </div>
    {% if mode == "training" %}
    <div id="train-data">
        <h4><div class="alert alert-info">{% translate "Technology" %}: {{ question.technology }}</div></h4>
        <h4><div class="alert alert-info">{% translate "Seniority" %}: {{ question.seniority.get_level_display }}</div></h4>
    </div>
    {% endif %}
</div>
{% endblock content %}