{% extends "base.html" %}
{% load static %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!--  -->
<form id="timezone-form" action="{% url 'quiz:quiz-view' %}" method="post">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for city, tz in timezones.items %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %}selected{% endif %}>{{ city }}</option>
        {% endfor %}
    </select>
    <input type="submit" id="timezone-submit" value="Set">
</form>
<!--  -->
<form id="quiz-form" action="" method="post">
    {% csrf_token %}
    {{ quiz_form.as_p }}
    <input type="submit" value="Save">
</form>
{% if request.POST and first_question_pk %}
Link do testu:
    <a class="full-link" href="http://127.0.0.1:8000/{{ first_question_pk }}?q={{ quiz_pk }}"></a>
{% endif %}
{% endblock content %}