{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="/static/js/main.js"></script>
{% endblock scripts %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!--  -->
<form id="timezone-form" action="{% url 'quiz:quiz-view' %}" method="post">
    {% csrf_token %}
    <label for="timezone">{% translate "Time zone:" %}</label>
    <select name="timezone">
        {% for city, tz in timezones.items %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %}selected{% elif tz == "" %}selected{% endif %}>{{ city }}</option>
        {% endfor %}
    </select>
    <button type="submit" id="timezone-submit">{% translate "Set" %}</button>
</form>
<br>
<!--  -->

<form id="quiz-form" action="" method="post">
    {% csrf_token %}
    {{ quiz_form.as_p }}
    <button type="submit">{% translate "Save" %}</button>
</form>
<br>
{% if request.POST and selected_technologies %}
    {% include 'seniority.html' %}
{% elif request.POST and message %}
    </b><span style="color:red;">{{ message }}</span></p>
{% endif %}

{% if request.POST and first_question_pk %}
Link do testu:
    <a class="full-link" href="http://127.0.0.1:8000/{{ first_question_pk }}?q={{ quiz_pk }}"></a>
{% endif %}
{% endblock content %}