{% load static %}
{% load i18n %}

<h3>{% translate "Please set initial seniority for each technology in quiz:" %}</h3>
<form id="tech-form" action="" method="post">
    {% csrf_token %}
    {% for technology in selected_technologies %}
        <div class="font-weight-bold">{{ technology }}: </div>
        {% for seniority in seniority_levels %}
        <div class="form-check form-check-inline">
            <label class="form-check-label"> {{ seniority.1 }}
            <input type="radio" class="form-check-input" name={{ technology }} value={{ seniority.0 }}>
            </label>
        </div>
        {% endfor %}
        <hr>
    {% endfor %}
    <button class="btn btn-default" type="submit" name="tech-submit" value="">{% translate "Generate Quiz Link" %}</button>
</form>