{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="/static/js/question.js"></script>
{% endblock scripts %}

{% block title %}
    Single question
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col question">
        <div class="question-div" id="question-div" data-value={{ question.text }}>
            {{ question.text | safe }}
        </div>
    </div>
    <div class="col" id="timer">
        <div class="not-visible" id="time" data-value={{ time }}></div>
    </div>
</div>
<div class="row">
    <div class="col answer">
        <form id="question-form" action="" method="post">
            {% csrf_token %}
            {% translate "Your answer:" %}
            <label>
            <input type="text" name="ans">
            </label>
            <br>
            <button type="submit" id="question-submit">{% translate "Send" %}</button>
        </form>
        {% if question.is_author %}
            <p>Autor: {{ question.author }}</p>
        {% endif %}
    </div>
    <div class="col train-data">
        <h4><div class="alert alert-info">{% translate "Technology" %}: {{ question.technology }}</div></h4>
        <h4><div class="alert alert-info">{% translate "Seniority" %}: {{ question.seniority.get_level_display }}</div></h4>
    </div>
</div>
{% endblock content %}
