{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block javascripts %}
    <script src="/static/js/question.js"></script>
    <!-- highlight.js files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha256-nxnOvB1EQa4fD/xpakJii5+GX+XZne2h8ejNW+yHiIg=" crossorigin="anonymous"></script>
    <script>hljs.highlightAll();</script>
{% endblock javascripts %}

{% block title %}
    Single question
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="col1">
            <div id="question" data-question={{ question.uuid }} data-quiz={{ quiz.pk }}>
                {{ question.text | safe }}
            </div>
            <div id="answer">
                {% if correct_answers != None %}
                    <h4><div>{% translate "Correct answers:" %}</div></h4>
                    {% for ans in correct_answers %}
                        <div class="alert alert-success">{{ ans.text | safe}}</div>
                    {% endfor %}
                    {% include 'continue_form.html' %}
                    <div class="not-visible" id="zero-timer">1</div>
                {% else %}
                    <form id="answer-form" action="" method="post">
                        {% csrf_token %}
                        {% translate "Your answer:" %}
                        <label>
                            <input type="text" name="ans">
                        </label>
                        <br>
                        <button class="btn btn-default" type="submit" id="question-submit">{% translate "Send" %}</button>
                        <div class="not-visible" id="zero-timer">0</div>
                    </form>
                {% endif %}
                {% if question.is_author %}
                    <p>Autor: {{ question.author }}</p>
                {% endif %}
            </div>
        </div>
      </div>
      <div class="col-sm">
        <span></span>
      </div>
      <div class="col-sm">
            <div class="col" id="timer">
                <div class="not-visible" id="time" data-value={{ time }}></div>
            </div>
            {% if quiz.mode == "training" %}
                <div id="train-data">
                    <h4><div class="alert alert-info">{% translate "Technology" %}: {{ question.technology }}</div></h4>
                    <h4><div class="alert alert-info">{% translate "Seniority" %}: {{ question.seniority.get_level_display }}</div></h4>
                </div>
            {% endif %}
    </div>
  </div>
{% endblock content %}
